*, *::before, *::after{
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: EastSeaDokdo;
    src: url("font/EastSeaDokdo-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("font/OpenSans-Regular.ttf"), url("font/OpenSans-SemiBold.ttf"), url("font/OpenSans-Light.ttf");
}

/* Variable */
:root {
	--SoftBlue: #6CB7DC;
	--LightBlue: #b2d1e1;
	--Arapawa: #2D4C5C;
	--PaleSky: #616F75;
	--AirForceBlue: #548EAB;
    --DarkBlue: #415165;
}

/* container */

.container {
	font-family: OpenSans, sans-serif;
	width: 1024px;
	margin: 0 auto;
}

/* header */

.header_inner {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

header h1 {
    font-family: "EastSeaDokdo", sans-serif;
    font-size: 50px;
}

header ul {
    display: flex;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
}

header li {
    margin: 14px 10px;
}

header a {
    color: var(--PaleSky);
    position: relative;
}

header ul a::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-bottom: 8px solid;
    border-color:  var(--SoftBlue);
    opacity: 0;
    z-index: -1;
}

header ul a:hover::after{
    opacity: .7;
}

/* footer */

footer {
    background-size: cover;
    background-color: var(--DarkBlue);
    margin-top: 76px;
}

.footer_inner {
    width: 400px;
    font-family: OpenSans, sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin: 0px auto;
    padding: 20px 0;
}

footer h3 {
    font-size: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 24px;
}

footer li {
    font-size: 16px;
    margin-bottom: 16px;
}

footer li a:hover {
    color: var(--LightBlue);
}

.link{
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
}

footer img {
    width: 24px;
    height: 24px;
    margin: 4px 12px 0px 12px;
}

footer .medium_logo{
    width: 25px;
    height: 25px;
}

.top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.top img {
    width: 50px;
    height: 50px;
}