/* container */
.container h2 {
    position: relative;
    font-family: OpenSans, sans-serif;
    font-size: 25px;
    color: var(--PaleSky);
    text-align: center;
    margin: 40px 0;
}

.container h2::before, .container h2::after{
    content: "";
    width: 35%;
    border-top: 2px solid var(--PaleSky);
    position: absolute;
    top: 50%;
}

.container h2::before {
    left: 10px;
}

.container h2::after {
    right: 10px;
}

.project_list > li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.more_detail {
    display: block;
    position: relative;
    width: 50%;
    height: 300px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.more_detail:hover {
    opacity: 0.8;
}

.more_detail > p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -60px;
    z-index: 1;
    background-color: var(--AirForceBlue);
    color: white;
    padding: 20px;
}

.more_detail img {
    width: 100%;
    height: auto;
}

.project_description {
    width: 30%;
}

.project_description h3, .modal h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.technology_list {
    display: flex;
    align-items: center;
}

.technology_list img{
    width: 80px;
    margin: 0 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
    padding: 70px 50px;
    background-color: white;
    border: 4px dashed var(--PaleSky);
}

.modal_swiper, .modal_content > img{
    width: 50%;
    max-width: 600px;
    height: 400px;
    overflow-x: hidden;
    position: relative;
}

.modal_swiper img {
    object-fit: scale-down;
}

.swiper-slide {
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal .swiper-button-prev, .modal .swiper-button-next {
    color: var(--AirForceBlue);
}

.modal .swiper-button-prev:hover, .modal .swiper-button-next:hover {
    color: var(--SoftBlue);
}

.modal .swiper-button-prev {
    top: 50%;
    left: 0;
    right: auto;
}

.modal .swiper-button-next {
    top: 50%;
    left: auto;
    right: 0;
}

.modal .modal_swiper img, .modal_img {
    width: 100%;
    height: auto;
}

/* Caption of Modal Image (Image Text) */
.caption {
    display: block;
    width: 40%;
    color: black;
    padding: 10px;
}

.caption ul {
    width: 90%;
    list-style-type: disc;
}

.caption li {
    margin: 20px;
    padding-left: 10px;
}

.caption a {
    display: inline;
    color: var(--SoftBlue);
}

.caption a:hover{
    color: var(--AirForceBlue);
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: var(--AirForceBlue);
    text-decoration: none;
    cursor: pointer;
}