/* container */
.container h2 {
    position: relative;
    font-family: OpenSans, sans-serif;
    font-size: 25px;
    color: var(--PaleSky);
    text-align: center;
    margin: 40px 0;
}

.container h2::before, .container h2::after{
    content: "";
    width: 35%;
    border-top: 2px solid var(--PaleSky);
    position: absolute;
    top: 50%;
}

.container h2::before {
    left: 10px;
}

.container h2::after {
    right: 10px;
}

.project_list > li {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.more_detail {
    display: block;
    position: relative;
    width: 50%;
    height: 300px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.more_detail:hover {
    opacity: 0.8;
}

.more_detail p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -60px;
    z-index: 1;
    background-color: var(--AirForceBlue);
    color: white;
    padding: 20px;
}

.project_list img {
    width: 100%;
    height: auto;
}

.project_description {
    width: 40%;
}

.project_description h3 {
    font-size: 20px;
    margin: 30px 0;
}

.technology_list {
    display: flex;
}

.technology_list img{
    width: 80px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal_content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: var(--AirForceBlue);
    text-decoration: none;
    cursor: pointer;
}