.login_content{
    display: flex;

    ul{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

/*login_form*/

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $darkGreen;
    width: 45%;
    margin-bottom: 60px;

    @include large-size(){
        width: 50%;
    }
    @include medium-size(){
        width: 90%;
    }
    @include small-size(){
        width: 100%;
        margin-bottom: 0;
    }
    h2{
        color: $lilyWhite;
        font-size: 36px;
        align-self: center;
        margin: 40px 0;
    }
    div{
        width: 85%;
    }
    input{
        width: 100%;
        height: 56px;
        background-color: $lilyWhite;
        font-size: 16px;
        margin-bottom: 16px;
        border: none;
        padding-left: 60px;
        color: $limeGreen;

        &:focus{
            outline-color: $darkGreen;
        }
    }
    a{
        display: block;
        background-color: $goldenGlow;
        color: $darkGreen;
        font-size: 24px;
        width: 100%;
        padding: 16px 0;
        text-align: center;

        &:hover{
            color: $darkGreen;
            background-color: $lilyWhite;
        }
    }
    .login_link_m{
        display: none;
        width: 100%;

        @include medium-size(){
            display: block;
        }
        ul{
            display: flex;
            justify-content: center;
            background-color: $lilyWhite;
            margin-bottom: 30px;
            padding: 30px 0;
        }
        li{
            width: 30%;
            height: 56px;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            border: 1px solid $lilyWhite;

            &:hover{
                background-color: $darkGreen;
            }
        }
        img{
            height: 30px;
        }
    }
}


.login_form_account, .login_form_pwd{
    position: relative;

    img{
        position: absolute;
        top: 16px;
        left: 20px;
        width: 24px;
        height: 24px;
    }
}

.login_form_remember{
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    input{
        width: 16px;
        height: 16px;
        margin-bottom: 4px;
    }
    label{
        color: $lilyWhite;
        font-size: 16px;
    }
} 


/*login_link*/

.login_link_d{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background-color: $lilyWhite;
    margin: 15px 0 75px 0;

    @include large-size(){
        width: 50%;
    }
    @include medium-size(){
        display: none;
    }
    h2{
        font-size: 24px;
        font-weight: 300;
        color: $limeGreen;
        margin: 40px 0 36px 0;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    a{
        display: flex;
        justify-content: center;
        background-color: #fff;
        width: 80%;
        height: 56px;
        margin: 0 10% 16px 10%;

        &:hover{
            background-color: $darkGreen;
        }
    }
    img{
        width: 30%;
    }
}