/*banner*/

.product_banner{
    margin-bottom: 60px;
    position: relative;
    
    @include large-size(){
        margin-bottom: 0;
    }
    img{
        margin: 0 auto;
    }
    .product_slogan{
        width: 10%;
        position: absolute;
        top: 40px;
        right: 10%;
        margin: 0;

        @include large-size(){
            right: 40px;
        }
    }
}

/*content*/

.product_content{
	display: flex;
    justify-content: space-between;
    
    @include large-size(){
        flex-direction: column;
		align-items: center;
    }
}

.product_sidebar{
	width: 30%;
	font-size: 24px;
	text-align: center;
    margin-right: 20px;
    
    @include large-size(){
        width: 90%;
		margin: 20px 0;
    }
    @include small-size(){
        width: 100%;
		margin: 0 0 30px 0;
    }
    h2{
        padding: 16px 0;
        @include darkGreen-style;
    }
    ul{
        @include large-size(){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    li{
        @include large-size(){
            width: 50%;
        }
        @include small-size(){
            width: 100%;
        }
    }
    li a{
        display: block;
        padding: 16px 0;
        border: 1px solid $lilyWhite;

        &:hover{
            background-color: $lilyWhite;
        }
    }
}

.product_content_inner{
    width: 70%;
    
    @include large-size(){
        width: 100%;
    }
    @include medium-size(){
        width: 70%;
    }
    @include small-size(){
        width: 90%;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @include medium-size(){
            justify-content: center;
        }
    }
    li{
        width: 46%;
        margin-bottom: 10px;

        @include medium-size(){
            width: 100%;
        }
        @include small-size(){
            margin: 30px 0 0 0;
        }
    }
    a{
        background-color: $lilyWhite;
        display: block;
        width: 100%;
        font-size: 24px;
        text-align: center;
        padding: 16px 0;

        &:hover{
            @include darkGreen-style;
        }        
    }
}

.productPic_inner{
    position: relative;

    img{
        width: 100%;
    }
    h3{
        width: 36px;
        position: absolute;
        left: 20px;
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
        @include darkGreen-style;
    }
    .favorite{
        position: absolute;
        top: 19px;
        right: 22px;
        width: 24px;
    }
}

.productInfo{
	display: flex;
	font-size: 20px;
    text-align: center;
    align-items: center;
    border: 1px solid $lilyWhite;

    h2{
        width: 58%;
        font-weight: 300;
        padding: 14px 0;
    }
    p{
        width: 42%;
        border-left: 1px solid $lilyWhite;
        padding: 14px 0;
    }
}

.product_pageNum{
    ul{
        display: flex;
        justify-content: flex-end;
        margin: 30px 0 60px 0;

        @include large-size(){
            margin: 30px 0;
		    justify-content: center;
        }
    }
    a{
        display: block;
        font-size: 20px;
        padding: 20px 26px;
        border: 1px solid $lilyWhite;

        &:hover{
            background-color: $lilyWhite;
        }
    }
} 

.recentlyPage a{
	color: $lilyWhite;
    border: 1px solid $darkGreen;
    background-color: $darkGreen;

    &:hover{
        background-color: $darkGreen;
    }
}

.arrow a{
	padding: 18px;
}
