/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: BlinkMacSystemFont;
}


.header{
    margin: 0 auto;
}
  
.header h1{
    color: #3D82AD;
    font-size: 36px;
    text-align: center;
    margin: 24px 0 64px 0;
}
  
.content{
    margin: 0 auto;
    background-color: #3D82AD;
    color: white;
    text-align: center;
    padding-bottom: 28px;
}  

.bmiCalculator{
    width: 384px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: left;
    font-size: 24px;
}

input{
    height: 38px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #77B3D7;
    border-radius: 4px;
}

button{
    display: block;
    width: 82px;
    height: 38px;
    background-color: #3D82AD;
    border: 1px solid #B1D7FB;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin: 0px auto 8px auto;
}

button:hover{
    background-color: #77B3D7;
}

.footer{
    margin: 28px auto 0 auto;
}

h2{
    font-size: 28px;
    line-height: 42px;
    color: #3D82AD;
    text-align: center;
    margin-bottom: 24px;
}

.list{
    list-style:none;
    margin: 0;
    padding: 0;
}

.list-card{
    width: 588px;
    border: 1px solid #3D82AD;
    border-radius: 4px;
    text-align: center;
    color: #3D82AD;
    margin: 8px auto 0 auto;
}

.list-card h2{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

.list-card p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}