*, *::before, *::after{
    box-sizing: border-box;
}

body{
	font-family: sans-serif;
	color: $darkGreen;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: $darkGreen;
}

.container{
	max-width: 940px;
    margin: 0 auto;
    
    @include large-size(){ // 767px
		max-width: 767px;
    }
    @include small-size(){ // 414px
		max-width: 414px;
	}
}

/*header*/

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 15px 0;
    
    @include large-size(){ 
		flex-direction: column;
    }
    @include small-size(){ 
		flex-direction: row;
		position: relative;
	}
    h1 a{
        display: block;
        background-image: url("../img/desktop/logo/logo-all-dark.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 220px;
        height: 40px;
        margin: 15px 30px;
        @include hide-text;

        @include small-size(){
            width: 120px;
            background-image: url("../img/desktop/logo/logotype-lg-dark.svg");
            margin: 0;
        }
    }
    .menu{
        display: flex;
        align-items: center;
    }
    li a{
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 30px;

        &:hover{
            background-color: $lilyWhite;
        }
    }
    .active{
        max-height: 200px;
        opacity: 100%;
    }
    img{
        padding: 15px 20px 15px 39px;
    }
}

.ham{
    display: none;
    
    @include small-size(){ // 414px
        display: block;
    }
}

.header_item{
	display: flex;
    align-items: center;
    
    @include small-size(){
        flex-direction: column;
		position: absolute;
		left: 0;
        top: 100%;
        z-index: 1;
		width: 100%;
		background-color: #fff;
		overflow: hidden;
		opacity: 0%;
		transition: all 1s;
    }
}

/*footer-emailForm*/

.emailForm {
	display: flex;
	justify-content: space-between;
	background-color: $darkGreen;
    padding: 30px 4%;
    
    @include large-size(){
        flex-direction: column;
		align-items: center;
    }
}

.emailForm_label{
	display: flex;
    align-items: center;

    @include large-size(){
        margin-bottom: 15px;
    }
    p{
        color:$lilyWhite;
        font-size: 24px;
    }
    img{
        width: 40px;
        margin-right: 20px;
    }
}

.emailForm_input{
	display: flex;
    position: relative;

    input{
        width: 316px;
        height: 56px;
        background-color: $lilyWhite;
        padding: 0 20px 0 60px;
        border: none;

        &:focus{
            outline-color: $darkGreen;
        }
        @include small-size(){
            width: 251px;
        }
    }
    img{
        position: absolute;
        top: 16px;
        left: 20px;
    } 
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        background-color: $goldenGlow;
        border: none;

        &:focus{
            outline-color: $darkGreen;
        }
    }
    button img{
        position: initial;
    }
}

/*footer-footer_inner*/

.footer_inner{
	display: flex;
	justify-content: space-between;
	background-color: $lilyWhite;
	padding: 30px 4%;
    color: $darkGreen;
    
    @include medium-size(){
        flex-direction: column;
		align-items: center;
    }
}

.companyInfo{
    @include medium-size(){
        width: 80%;
    }
    img{
        width: 180px;
    }
    ul{
        @include medium-size(){
            margin: 30px 0;
        }
	}
}

.companyInfo_item{
    margin: 110px 0 30px 0;
    
    li{
        font-size: 16px;
        line-height: 24px;
    }
}

.companyInfo_link{
    display: flex;
    
    img{
        width: 32px;
    }
}

.margin-right{
    margin-right: 8px;
}

.footer_inner_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include medium-size(){
        width: 80%;
    }
    img{
        width: 60px;
        margin-bottom: 40px;

        @include medium-size(){
            display: none;
        }
    }
    p{
        font-size: 16px;
    }
} 
