<footer>
    <div class="footer_inner">
        <h3>CONTACT METHOD</h3>
        <ul>
            <li><a href="mailto:kaiiichun.y@gmail.com">kaiiichun.y@gmail.com</a></li>
            <li>Taichung, Taiwan</li>
        </ul>
        <div class="link">
            <a href="https://www.facebook.com/KaiChun.Yaaang" target="_blank"><img src="img/facebook.png" alt="facebook"></a>
            <a href="https://kai-y.medium.com/" target="_blank"><img src="img/medium.png" alt="medium" class="medium_logo"></a>
            <a href="https://github.com/kai-chun" target="_blank"><img src="img/github.png" alt="github"></a>
        </div>
    </div>
</footer>