/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
img{
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Basic Layout*/

*, *::before, *::after{
    box-sizing: border-box;
}

body{
	font-family: sans-serif;
	color: #3F5D45;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: #3F5D45;
}

.container{
	max-width: 940px;
	margin: 0 auto;
}

@media (max-width: 767px){
	.container{
		max-width: 767px;
	}
}

@media (max-width: 414px){
	.container{
		max-width: 414px;
	}
}

/*header*/

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

.ham{
	display: none;
	margin: 30px;
}

.header h1{
	background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 220px;
	height: 40px;
	margin: 15px 30px;
	/*用圖片取代文字*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.header ul{
	display: flex;
	align-items: center;
}

.header li a{
	display: block;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
}

.header li a:hover{
	color: #EAF0ED;
}

.header li img{
	padding: 15px 20px 15px 39px;
}

@media (max-width: 767px){
	.header{
		flex-direction: column;
	}
}

@media (max-width: 414px){
	.header{
		flex-direction: row;
	}
	.ham{
		display: block;
	}
	.header h1{
		background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg");
		width: 30%;
		margin: 0;
	}
	.header li a{
		display: none;
	}
}

/*banner*/

.banner{
	margin-bottom: 60px;
}

.banner img{
	margin: 0 auto;
}

/*content*/

.content{
	display: flex;
	justify-content: space-between;
}

.sidebar{
	width: 30%;
	font-size: 24px;
	text-align: center;
	margin-right: 20px;
}

.darkGreen-style{
	background-color: #3F5D45;
	color: #EAF0ED;
}

.sidebar h2{
	padding: 16px 0;
}

.sidebar li a{
	display: block;
	padding: 16px 0;
	border: 1px solid #EAF0ED;
}

.sidebar li a:hover{
	background-color: #EAF0ED;
}

@media (max-width: 767px){
	.content{
		flex-direction: column;
		align-items: center;
	}
	.banner{
		margin-bottom: 0;
	}
	.sidebar{
		width: 90%;
		margin: 20px 0;
	}
	.sidebar ul{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.sidebar li{
		width: 50%;
	}
}

@media (max-width: 414px){
	.banner{
		margin-bottom: 0px;
	}
	.sidebar{
		width: 100%;
		margin: 0 0 30px 0;
	}
	.sidebar li{
		width: 100%;
	}
}

.content_inner{
	width: 70%;
}

.content_inner ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content_inner li{
	width: 46%;
	margin-bottom: 10px;
}

.productPic_inner{
	position: relative;
}

.productPic_inner img{
	width: 100%;
}

.productPic_inner h3{
	width: 36px;
	position: absolute;
	left: 20px;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
}

.productPic_inner .favorite{
	position: absolute;
	top: 19px;
	right: 22px;
	width: 24px;
}

.productInfo{
	display: flex;
	font-size: 20px;
	text-align: center;
	border: 1px solid #EAF0ED;
}

.productInfo h2{
	width: 58%;
	font-weight: 300;
	padding: 14px 0;
}

.productInfo p{
	width: 42%;
	border-left: 1px solid #EAF0ED;
	padding: 14px 0;
}

.content_inner a{
	background-color: #EAF0ED;
	display: block;
	width: 100%;
	font-size: 24px;
	text-align: center;
	padding: 16px 0;
}

.content_inner a:hover{
	background-color: #3F5D45;
	color: #EAF0ED;
}

@media (max-width: 767px){
	.content_inner{
		width: 100%;
	}
}

@media (max-width: 576px){
	.content_inner{
		width: 70%;
	}
	.content_inner ul{
		justify-content: center;
	}
	.content_inner li{
		width: 100%;
	}
}

@media (max-width: 414px){
	.content_inner{
		width: 90%;
	}
	.content_inner li{
		margin: 30px 0 0 0 ;
	}
}

.pageNum ul{
	display: flex;
	justify-content: flex-end;
	margin: 30px 0 60px 0;
}

.pageNum a{
	display: block;
	font-size: 20px;
	padding: 20px 26px;
	border: 1px solid #EAF0ED;
}

.darkGreen-style a{
	color: #EAF0ED;
	border: 1px solid #3F5D45;
}

.arrow a{
	padding: 18px;
}

.pageNum a:hover{
	background-color: #EAF0ED;
}

.darkGreen-style a:hover{
	background-color: #3F5D45;
}

@media (max-width: 767px){
	.pageNum ul{
		margin: 30px 0;
		justify-content: center;
	}
}

.emailForm {
	display: flex;
	justify-content: space-between;
	background-color: #3F5D45;
	padding: 30px 4%;
}

.emailForm_label{
	display: flex;
	align-items: center;
}

.emailForm_label p{
	color:#EAF0ED;
	font-size: 24px;
}

.emailForm_label img{
	width: 40px;
	margin-right: 20px;
}

.emailForm_input{
	display: flex;
	position: relative;
}

.emailForm_input input{
	width: 316px;
	height: 56px;
	background-color: #EAF0ED;
	padding: 0 20px 0 60px;
	border: none;
}

.emailForm_input img{
	position: absolute;
	top: 16px;
	left: 20px;
}

.emailForm_input button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	background-color: #FFE180;
	border: none;
}

.emailForm_input button img{
	position: initial;
}

@media (max-width: 767px){
	.emailForm{
		flex-direction: column;
		align-items: center;
	}
	.emailForm_label{
		margin-bottom: 15px;
	}
}

@media (max-width: 414px){
	.emailForm_input input{
		width: 251px;
	}
}

.footer_inner{
	display: flex;
	justify-content: space-between;
	background-color: #EAF0ED;
	padding: 30px 4%;
	color: #3F5D45;
}

.companyInfo img{
	width: 180px;
}

.companyInfo_item{
	margin: 110px 0 30px 0;
}

.companyInfo_item li{
	font-size: 16px;
	line-height: 24px;
}

.companyInfo_link{
	display: flex;
}

.companyInfo_link img{
	width: 32px;
}

.margin-right{
	margin-right: 8px;
}

.slogan{
	display: flex;
	flex-direction: row-reverse;
}

.footer_inner_content h3{
	writing-mode: vertical-rl;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 46px;
}

.slogan .margin-top{
	margin-top: 12px;
}

.footer_inner_content p{
	font-size: 16px;
}

@media (max-width: 576px){
	.footer_inner{
		flex-direction: column;
		align-items: center;
	}
	.companyInfo, .footer_inner_content{
		width: 80%;
	}
	.companyInfo ul{
		margin: 30px 0;
	}
	.slogan{
		display: none;
	}
}